src/main/mule/world-time-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aee429b6-c3a2-4d8a-8e8b-db6bb411c333" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d5f9cec0-c1ad-4070-8d5a-745e631cb410" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-demoFlow" doc:id="bb06a824-2441-46dd-ba2f-080ff878518b" >
		<http:listener doc:name="Listener" doc:id="91b51cf4-048a-4987-ab5c-50bac82b6e93" config-ref="HTTP_Listener_config" path="/{region}/{city}" doc:description="postman request url http://localhost:8081/timezone/Africa/Cairo"/>
		<http:request method="GET" doc:name="Request" doc:id="515e0b5b-0634-4912-8b2f-6cfb6cbc4315" path="/{region}/{city}" config-ref="HTTP_Request_configuration">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
